.ProjectsListItem {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 22px;
  display: flex;
  align-items: center;
  gap: 24px;
  &:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &-icon {
    width: 32px;
    height: 32px;
  }

  &-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.7);
    width: 150px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
    flex: 1;
    text-align: center;
  }
  &-input {
    width: 188px;
    height: 32px;
    border: 1px solid #40A9FF;
    border-radius: 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding: 4px 7px;
    color: rgba(0, 0, 0, 0.7);
    &:active, &:focus, &:target, &:hover {
      outline: #BAE7FF 2px solid;
    }
  }

  &-modalIcon {
    width: 22px;
  }
}

.modalDeleteConfirm .ant-modal-content {
  background-color: #F7F9FD;
}
